<!DOCTYPE html>
<link rel="stylesheet" href="/bootstrap/bootstrap.css"/>

<div class="container mt-3">
    <form>
        <div class="form-group mt-1">
            <label for="exampleInputEmail1">Nombre</label>
            <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="¿Cómo se llama tu tarea?"
            />
        </div>
        <div class="form-group mt-1">
            <label for="exampleInputPassword1">Descripción</label>
            <input
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="¿En qué consiste tu tarea?"
            />
        </div>
        <button type="submit" class="btn btn-success mt-2">Guardar</button>
    </form>
</div>

<style>
    body{
        background-color: #5e1010;
    }
    label{
        color: white;
    }
</style>

<script src="/BootstrapJs/bootstrap.js"></script>
</html>