<!DOCTYPE html>
<link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
<script src="/BootstrapJs/bootstrap.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>

<div class="container mt-5">
    <div class="sticky-top"> 
		<a
			class="btn btn-success "
			type="button"
			href="/todo-create"
		>
			Nueva Tarea
		</a>
    </div>

{{>Tareas}}

</div>


<style>
    body{
        background-color: #5e1010;
    }
</style>
</html>